<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yingwu.project.mapper.MenuMapper">

    <resultMap id="BaseResultMap" type="com.yingwu.project.model.entity.Menu">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="parentId" column="parentId" jdbcType="INTEGER"/>
            <result property="menuName" column="menuName" jdbcType="VARCHAR"/>
            <result property="menuIcon" column="menuIcon" jdbcType="VARCHAR"/>
            <result property="routeUrl" column="routeUrl" jdbcType="VARCHAR"/>
            <result property="componentName" column="componentName" jdbcType="VARCHAR"/>
            <result property="componentPath" column="componentPath" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="isHidden" column="isHidden" jdbcType="TINYINT"/>
            <result property="menuSort" column="menuSort" jdbcType="DOUBLE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,parentId,menuName,
        menuIcon,routeUrl,componentName,
        componentPath,description,isHidden,
        menuSort
    </sql>
</mapper>
