<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yingwu.project.mapper.RoleMapper">

    <resultMap id="BaseResultMap" type="com.yingwu.project.model.entity.Role">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="roleName" column="roleName" jdbcType="VARCHAR"/>
            <result property="roleIdentity" column="roleIdentity" jdbcType="VARCHAR"/>
            <result property="isUsing" column="isUsing" jdbcType="TINYINT"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,roleName,roleIdentity,
        isUsing,description,createTime,
        isDelete
    </sql>
</mapper>
