<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yingwu.project.mapper.RoleMenuMapper">

    <resultMap id="BaseResultMap" type="com.yingwu.project.model.entity.RoleMenu">
        <result property="roleId" column="role_id" jdbcType="BIGINT"/>
        <result property="menuId" column="menu_id" jdbcType="BIGINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        role_id,menu_id
    </sql>

    <delete id="removeBatch">
        delete from role_menu where
        <foreach collection="deleteRoleMenuBatch" item="item" separator=" or " index="index">
            (role_id = #{item.roleId} and menu_id = #{item.menuId})
        </foreach>
    </delete>
</mapper>
